<!DOCTYPE html>
<html lang="it" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>php-ajax-dischi</title>
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="app">
    <div class="wrapper">
      <header>
        <div class="container">
          <img class="logo" src="img/logo.png" alt="">
          <div class="right">
            <select name="" v-model="filter" @change="filterGenre">
              <option value="All"> All</option>
              <option v-for="genre in listGenre" :value="genre">{{genre}}</option>
            </select>
            <input type="text" placeholder="Inserisci genere" value="" v-model="search" @keyup.enter="searchGenre()">
          </div>

        </div>
      </header>
      <main>
    <h1 v-if="errormessage" style="color:red;text-align:center;">{{errormessage}}</h1>
        <div v-if="!errormessage" class="container">
          <ul v-for="cd in listCds">
            <li><img :src="cd.poster" alt=""></li>
            <li>{{cd.title}}</li>
            <li>{{cd.author}}</li>
            <li>{{cd.year}}</li>
          </ul>
        </div>
      </main>
    </div>
  </div>
  <script src="js/action.js" charset="utf-8"></script>
</body>
</html>
